* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginContainer {
  display: flex;
  justify-content: center;
}

.loginTabContainer {
  width: 300px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(135, 135, 135);
  padding: 5px;
}